@using Yani.Models.Components;
@{
    Layout = "_Dashboard";
}
@section Scripts
{
    <script src="@Url.Content("~/assets/js/pages/addbrand.js")"></script>
    <script src="@Url.Content("~/assets/vendor_components/bootstrap-select/dist/js/bootstrap-select.js")"></script>
    <script src="@Url.Content("~/assets/vendor_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js")"></script>
    <script src="@Url.Content("~/assets/js/components/imageUploader.js")"></script>
}
@section Styles
{
    <link rel="stylesheet" href="@Url.Content("~/assets/css/pages/addbrand.css")">
}

<div class="row">
    <div class="col-12">
        <div class="box">
            <div class="box-header with-border">
                <h4 class="box-title">برند</h4>
            </div>
            <div class="box-body">
                <form action="@Url.Action("AddBrand")" method="post" enctype="multipart/form-data">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="fw-700 fs-16 form-label">نام</label>
                                    <input name="BrandName" type="text" class="form-control" placeholder="نام برند" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="fw-700 fs-16 form-label">کلمات کلیدی</label>
                                    <div class="input-group">
                                        <input name="Tags" class="form-control" type="text" data-role="tagsinput" placeholder="تگ را اضافه کنید" onkeydown="return event.key != 'Enter';"> <span class="input-group-addon">تگ ها</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="fw-700 fs-16 form-label">توضیحات محصول</label>
                                    <textarea name="BrandDescription" class="form-control p-15" rows="4" placeholder="توضیحات برند اجباری نیست ولی برای SEO به کار میرود"></textarea>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <div class="row">
                            <!--/span-->
                            <div class="col-md-12">
                                @await Component.InvokeAsync("ImageUploader", new ImageUploaderModel { DefaultImage =  Url.Content("~/images/brands/hermes.png")  })
                            </div>
                        </div>
                    </div>
                    <div class="form-actions mt-10">
                        <a href="#" type="submit" class="btn btn-success"> <i class="fa fa-check"></i> ثبت</a>
                        <a href="@Url.Action("Brands")" class="btn btn-warning">لغو</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>